# Google Cloud / Vertex AI Configuration
# Required for AI analysis functionality
GOOGLE_CLOUD_PROJECT=gen-lang-client-0656126175
GOOGLE_CLOUD_LOCATION=europe-west4

# Optional: Service Account Path (if using service account JSON file)
VERTEX_AI_SERVICE_ACCOUNT_PATH=C:\Users\ADMIN\Desktop\STUDY\PYTHON\furama\furama_projects\AIHS\ai_insight\gen-lang-client-0656126175-bf7f11103d66.json
VERTEX_AI_ENDPOINT_ID=gen-lang-client-0656126175
VERTEX_AI_API_KEY=AQ.Ab8RN6I8Oaa34E_BSFM1oc7tAyyXo7JAWY_PHC14qzFFrX3Www

# Optional: Vertex AI Model (defaults to gemini-1.5-flash)
VERTEX_AI_MODEL=gemini-2.5-flash-lite

# Server Port (defaults to 3001)
# PORT=3001
